@import "~@angular-mdc/theme";

/** media query min-width */
$min-width: 300px;

/** primary colors **/
$primary-color: #00897b;
$primary-light-color: #4ebaaa;
$primary-cark-color: #005b4f;
$primary-text-color: #000000;


$mdc-theme-primary: #1565c0; // change primary color example
$mdc-theme-secondary: #388e3c; // change secondary color example

