<div class="welcome-container">
  <h2 class="title ">
    CutBack
  </h2>
  <span class="line-after-heading"></span>
  <p class="motto">
    Create your budget in 4 easy steps.
  </p>
  <div class="income-container">
    <span class="income-header">Lets begin by noting your monthly income</span>
    <mat-form-field>
      <input matInput placeholder="Amount" type="number" class="example-right-align">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
  </div>
</div>