@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

@import '../../styles/mixins/center.scss';

.welcome-container {
  width: 100%;
  height: 91vh;
  background: url('../../assets/pictures/homepageImage.jpg');
  background-position: bottom center;
  background-size: cover;

  .title {
    text-align: center;
    font-size: 2rem;
    padding-top: 6rem;
    color: #ffffff;

    .budget {
      font-size: 4rem;
      font-weight: bold;
      border-bottom: 2px solid #f7f7f7;
      border-top: 2px solid #f7f7f7;
      display: block;
      margin: 2rem auto 0 auto;
      width: 68%; 
    }

    .easy {
      font-family: 'Gloria Hallelujah', cursive;
      font-weight: lighter;
      font-size: 2.4rem;
    }
  }

  .cta-button {
    width: 75%;
    border-radius: 6px;
    border: 1px solid #ffffff;
    background: rgba(0, 137, 123, 0.4);
    margin: 3rem auto;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
  }
}
